<div class="wrapper">
	<div class="arrowleft" onclick="caroussel.prev()"><</div>
		<div class="container">
			<div id="caroussel">
				<div id="slide1" class="picture"><%= image_tag("image1.jpg", alt: "", width: "700", height: "400") %></div>
				<div id="slide2" class="picture"><%= image_tag("image2.jpg", alt: "", width: "700", height: "400") %></div>
				<div id="slide3" class="picture"><%= image_tag("image3.jpg", alt: "", width: "700", height: "400") %></div>
				<div id="slide4" class="picture"><%= image_tag("image4.jpg", alt: "", width: "700", height: "400") %></div>
				<div id="slide5" class="picture"><%= image_tag("image5.jpg", alt: "", width: "700", height: "400") %></div>
				<div id="slide6" class="picture"><%= image_tag("image6.jpg", alt: "", width: "700", height: "400") %></div>
			</div>
		</div>
	<div class="arrowright" onclick="caroussel.next()"> > </div>
</div>